<div class="row">
  <div class="col-6 text-center justify-content-center mt-5 p-3">

    <img src="assets/icons/graduation-hat.svg" alt="school logo" title="school logo" class="w-25">

    <p class=" text-wrap px-4 mt-5 font-weight-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia impedit error expedita
       repellat modi quas cumque rerum necessitatibus quibusdam ipsam eum voluptatibus neque eveniet,
        beatae odio harum molestias magni. Nulla.</p>
  </div>
  <div class="col-6 text-center justify-content-center text-center justify-content-center mt-5 p-3">
    <div class="card mt-2">
      <div class="card-header text-bold">Login</div>
      <div class="card-body">
        <form>
          <div class="form-group row my-3">
            <input type="email" class="form-control col-8 offset-2 no-focus" id="exampleInputEmail1" placeholder="Enter email">
          </div>
          <div class="form-group row my-3">
            <input type="password" class="form-control col-8 offset-2 no-focus" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-check row">
            <div class="col-8 offset-2 text-left my-3">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label font-italic" for="exampleCheck1">Keep me Logged in</label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary px-3">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
